name: CI/CD das Funções Lambda (Signup e Login)

on:
  push:
    branches:
      - main
      - feature/pipeline
  pull_request:
    branches:
      - main

permissions:
  contents: read

env:
  AWS_REGION: us-east-1
  S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
  ZIP_FILE_NAME: lambda.zip
  PROJECT: soat-challenge

jobs:
  build_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Node.js e Instalar Dependências
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Instalar Dependências (Opcional | Mantenha ou remova, dependendo de onde o npm install está no projeto)
        run: npm install

      - name: BUILD | Criar o Pacote de Implantação (.zip)
        run: zip -r ${{ env.ZIP_FILE_NAME }} .

      - name: Configurar Credenciais da AWS (Via Secrets)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: UPLOAD para o S3 (Artifact Store)
        run: aws s3 cp ${{ env.ZIP_FILE_NAME }} s3://${{ env.S3_BUCKET_NAME }}/${{ env.ZIP_FILE_NAME }}

  deploy_signup:
    runs-on: ubuntu-latest
    needs: [build_and_upload]
    steps:
      - name: Configurar Credenciais da AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: DEPLOY | Atualizar Função Signup
        run: aws lambda update-function-code --function-name ${{ env.PROJECT }}-signup --s3-bucket ${{ env.S3_BUCKET_NAME }} --s3-key ${{ env.ZIP_FILE_NAME }}

  deploy_login:
    runs-on: ubuntu-latest
    needs: [build_and_upload]
    steps:
      - name: Configurar Credenciais da AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: DEPLOY | Atualizar Função Login
        run: aws lambda update-function-code --function-name ${{ env.PROJECT }}-login --s3-bucket ${{ env.S3_BUCKET_NAME }} --s3-key ${{ env.ZIP_FILE_NAME }}
